---
import FormattedDate from './FormattedDate.astro';



export interface Props {
  posts: any[];
  path: string;
}

const { posts ,path } = Astro.props;


---


<section>
  <ul class="flex flex-wrap justify-between">
    {
      posts.map((post , index) => (
        <li class={`${index === 0 ? '' : 'mx-4 sm:w-[45%]'} mb-10 hover:text-red-600 hover:opacity-90`}>
         
          <a class={`${index === 0 ? 'text-center font-bold text-xl' : ' '} `}  href={`/${path}/${post.slug}/`}>
            <img class={`${index === 0 ? 'w-screen  object-cover mb-4 ' : ''} rounded-xl  `}  src={post.heroImage} alt="" />
            <h4 class="title">{post.title}</h4>
            <p class="date">
              <FormattedDate date={post.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>